	#source-button{visibility:hidden;}
	.btn-primary{
		//margin-left: 100px;
		margin-right: 75px;
	}
	.btn-default{
		margin-right: 50px;
	}
	.btn-danger{
		float: right;
	}
	.paypal{
		float: right;
	}
	.form-control{
		width: 25%
	}
	.thumbnail:hover {
    position:relative;
    top:25px;
    left:0px;
    width:750px;
    height:auto;
    display:block;
    z-index:999;
}
